@media screen {

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #222;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.content {
    padding: 1em;
    border-left: 6px solid #093;
    border-left: 6px solid #093;
}

.content > p,
.content > ol,
.content > ul,
.content > blockquote {
    margin-bottom: 1em;
    margin-top: 1em;
}

p, li {
    line-height: 140%;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
p + p {
    text-indent: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 1.5em;
    line-height: 150%;
}

h1 {
    letter-spacing: 0.03em;
    word-spacing: 0.09em;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

li {
    margin-left: 20px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.center {
    text-align: center;
}

a {
    text-decoration: underline;
    color: #00c;
}

a:visited {
    color: #71a;
}

a:hover {
    color: #b0b;
}

/* LANGUAGES */

/* Sindarin */
.s {
    font-weight: bold;
    color: #038;
}

/* Quenya */
.q {
    font-weight: bold;
    color: #b08;
}

/* TENGWAR */

.t, .tengwar {
    font-family: tengwar;
    font-size: 1.2em;
}

.ti {
    font-family: tengwaritalic;
}

.tai {
    font-family: tengwaraltitalic;
}

/* PAGE-SPECIFIC THINGS */

.toc-detail {
    color: #00b0f0;
    font-style: italic;
}

.toc-detail em {
    font-style: normal;
}

}
